<html>
    <head>
        <title>Rain Bilibili Analysis</title>
    </head>

    <body>
        {% extends 'layout.html' %}
        {% block content %}
        <!-- header -->
        <header class="navbar-fixed-top">
            <nav>
                <ul>
                    <li><a href="#home-bilibili">Home</a></li>
                    <li><a href="#project">project</a></li>
                    <li><a href="#contact">contact</a></li>
                </ul>
            </nav>
          </header>
        <!-- ./header -->

        <!-- home -->
        <div class="section" id="home-bilibili" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="disply-table">
                    <div class="table-cell" data-aos="fade-up" data-aos-delay="0">
                        <h4>Rain Dalio</h4>
                        <h1>Bilibili Analysis&<br /> Data Analysis and Data Science</h1> </div>
                        
                </div>
            </div>
        </div>
        <!-- ./home -->

        <!-- project list  -->
        <div class="section" id="project">
            <div class="container">
                <div class="col-md-12">
                    <h4>02</h4>
                    <h1 class="size-50">Project <br /> Process</h1>
                    <div class="h-50"></div>
                </div>
                <div class="col-md-12">
                    <ul class="timeline">
                        <li class="timeline-event" data-aos="fade-up">
                            <label class="timeline-event-icon"></label>
                            <div class="timeline-event-copy">
                                <p class="timeline-event-thumbnail">July 2022 - Present</p>
                                <h3>Machine Learning</h3>
                                <h4>eines Web-Studios</h4>
                                <p><strong>Projektmanagement mit Scrum</strong>
                                    <br>Ständiges Verbessern des agilen Entwicklungsprozesses beispielsweise durch Grunt, Yeoman, GIT, JIRA und BrowserStack.</p>
                            </div>
                        </li>
                        <li class="timeline-event" data-aos="fade-up" data-aos-delay=".2">
                            <label class="timeline-event-icon"></label>
                            <div class="timeline-event-copy">
                                <p class="timeline-event-thumbnail">June 2022 - July 2022</p>
                                <h3>Data Analysis</h3>
                                <h4>Designer und Autor</h4>
                                <p>Konzeption, Design und Produktion von Digitalen Magazinen mit InDesign, der Adobe Digital Publishing Suite und HTML5. Co-Autorin der Fachbücher "Digitales Publizieren für Tablets" und "Adobe Digital Publishing Suite" erschienen im dpunkt.verlag.</p>
                            </div>
                        </li>
                        <li class="timeline-event" data-aos="fade-up" data-aos-delay=".4">
                            <label class="timeline-event-icon"></label>
                            <div class="timeline-event-copy">
                                <p class="timeline-event-thumbnail">May 2022 - June 2022</p>
                                <h3>Gather Data</h3>
                                <h4>IT-Consultant</h4>
                                <p><strong>Systemarchitektur, Consulting</strong>
                                    <br>Konzeption und Modellierung von Systemen und APIs für Digital Publishing und Entitlement nach SOA</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- ./project list -->
            
    {% endblock %}
    </bdoy>
</html>
